# ignore python cache files
__pycache__

# ignore results folder
# results

# ignore papers, but not the folder itself
papers/*

# log files, but not the folder itself
log/*

notebooks/GuidedLDA

# api keys and secrets
src/config.json

# vs code settings
.vscode/

# cache files
.cache/
.ipynb_checkpoints
.DS_Store
*.pyc
__pycache__/

# log
log/